@model IEnumerable<PortLogV2.ViewModel.Importacion.VMImportacionFiltro>

@{
    ViewBag.Title = "Filtro";
}

<h2>Filtro</h2>

@if (TempData["Exito"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Exito"]</p>
}
@if (TempData["Fail"] != null)
{
    <p class="alert alert-danger" id="dangerMessage">@TempData["Fail"]</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FchIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FchSalidaPrevista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FchSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacenado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CedulaEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FchIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FchSalidaPrevista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FchSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Almacenado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @if (item.Almacenado && Session["Rol"].ToString().ToUpper() == "ALMACEN")
                    {
                        @Html.ActionLink("Importar", "Edit", new { id = item.Id })
                    }


                </td>
            </tr>
        }
    }

</table>
