@model IEnumerable<Dominio.Clases.Importacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FchIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FchSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacenado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaCamion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CedulaEncargado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FchIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FchSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Almacenado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaCamion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CedulaEncargado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
