@model IEnumerable<PortLogV2.ViewModel.Producto.VMProductosList>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de productos</h2>

  @if (TempData["Exito"] != null)
    {
<p class="alert alert-success" id="successMessage">@TempData["Exito"]</p>
    }
    @if (TempData["Fail"] != null)
    {
<p class="alert alert-danger" id="dangerMessage">@TempData["Fail"]</p>
    }


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>

        </tr>
    }

</table>
